<div>
    {% include './partial.twig' %}
    {% include './sub/sub/partial.twig' %}
    {% import './import.twig' as foo %}

    {% set foo %}
        {% include "./foo.twig" %}
    {% endset %}

    {% import _self as this %}
</div>